@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    max-width: 620px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    max-width: 830px;
  }
}
@media (max-width: 767.9px) {
  .nav-toggler {
    display: flex;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 50;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: white;
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
  .nav-toggler .fa {
    font-size: 1.2rem;
    line-height: 1;
    transition: all 0.5s ease;
  }
  .nav-toggler.clicked {
    background: #f441a5;
  }
  .nav-toggler.clicked .fa {
    color: #fff;
    font-size: 1.3rem;
  }
  .nav-toggler.clicked .fa::before {
    content: "\f00d";
  }
  #header {
    left: -75px;
    transition: left 0.5s ease-in-out;
  }
  #header.open-header {
    left: 0;
  }
}
@media (max-width: 767.9px) {
  .hero-image, .content-section {
    padding: 50px 0;
  }
  #hero .hero-text {
    text-align: center;
    padding-bottom: 20px;
  }
  #hero .hero-text .hero-social-media {
    position: static;
    margin-top: 20px;
  }
  #hero .hero-text h1 {
    font-size: 3rem;
  }
  .section-title {
    font-size: 1.8rem;
    padding-bottom: 15px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .section-title small {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .portofolio-item .item .card-body .btn-gradient {
    display: block;
    width: 80%;
  }
  .carousel .carousel-item .carousel-caption {
    position: static;
  }
  .carousel .carousel-item .carousel-caption span {
    font-size: 0.8rem;
    color: #fff;
  }
  .carousel .carousel-item .carousel-caption p {
    height: 40px;
    overflow: hidden;
  }
}
@media (max-width: 575.9px) {
  .carousel .carousel-item .carousel-caption p {
    height: 60px;
  }
  .footer-bottom-credit {
    flex-flow: column-reverse;
  }
  .footer-bottom-credit > div {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    justify-content: center !important;
  }
  .footer-bottom-credit .footer-social-media {
    margin-bottom: 20px;
  }
}