@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Big John";
  src: url("../fonts/BigJohn.woff2") format("woff2"), url("../fonts/BigJohn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Slim Joe";
  src: url("../fonts/SlimJoe.woff2") format("woff2"), url("../fonts/SlimJoe.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../fonts/Segoe UI.woff") format("woff");
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
}

a:hover {
  color: #f441a5 !important;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
}

.bg-gradient {
  background: linear-gradient(45deg, #d001d8, #f441a5, #f9c1c8);
}

.btn-gradient {
  background: linear-gradient(45deg, #d001d8, #f441a5, #f9c1c8);
  border-color: transparent;
  color: #fff;
}
.btn-gradient:hover, .btn-gradient:focus {
  background: #fff;
  color: #f441a5;
  border-color: #f441a5;
}

.bg-peach {
  background-color: #f9c1c8;
}
.bg-peach.content-section {
  background-color: rgba(249, 193, 200, 0.55);
}

.color-pink {
  color: #f441a5;
}

#header {
  padding: 15px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .nav-menu {
  padding: 0;
  display: block;
}
#header .nav-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#header .nav-menu ul li a {
  color: #45505b;
  background-color: #f2f3f5;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.2s;
  padding: 10px 18px;
}
#header .nav-menu ul li a .fa {
  font-size: 17pt;
}
#header .nav-menu ul li span {
  display: none;
  padding: 0 5px 0 10px;
}
#header .nav-menu ul li a.active, #header .nav-menu ul li a:hover {
  background: linear-gradient(45deg, #d001d8, #f441a5, #f9c1c8);
  color: #fff !important;
}
#header .nav-menu ul li a:hover {
  width: 130px;
}
#header .nav-menu ul li a:hover span {
  display: block;
}

.header-logo {
  color: white !important;
}

nav.navbar.navbar-expand-lg.navbar-light {
  width: 100% !important;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header-menu .nav-item.header-menu-item {
  color: #fff !important;
  font-family: "Poppins";
  font-size: 1rem;
  padding: 0px 15px;
}
.header-menu .nav-item.header-menu-item:hover {
  color: #f441a5 !important;
}

a.header-menu-item {
  color: #fff;
}

#hero {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
}
#hero .hero-image {
  height: 100vh;
  background: #fff;
  background-position: center;
  background-size: cover;
}
#hero .hero-text {
  text-align: left;
  padding-bottom: 6rem;
  color: #000;
}
#hero .hero-text h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
}
#hero .hero-text h1 span {
  background: -webkit-linear-gradient(45deg, #d001d8, #f441a5, #f9c1c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#hero .hero-text .hero-social-media {
  left: 0;
  bottom: 0;
}
#hero .hero-text .hero-social-media a {
  display: inline-block;
  padding: 2px 10px;
  font-size: 20px;
  color: #45505b;
  line-height: 1;
}
#hero .hero-button {
  margin-top: 20px;
}
#hero .hero-button a {
  border-radius: 5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
#hero .scroll-down {
  position: absolute;
  margin-bottom: 20px;
  bottom: 0px;
  left: 50%;
}
#hero .scroll-down a {
  background: linear-gradient(45deg, #d001d8, #f441a5, #f9c1c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  position: relative;
  animation: MoveUpDown 1s linear infinite;
  bottom: 0;
}
#hero .scroll-down a::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f441a5;
  border-radius: 50px;
  opacity: 0;
}
#hero .scroll-down a:hover::before {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}
.section-title {
  margin-bottom: 40px;
  font-size: 2.3rem;
  font-family: "Poppins";
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  font-weight: 500;
}
.section-title small {
  display: block;
  font-size: 1.3rem;
  line-height: 1;
}
.section-title span {
  font-family: "Poppins";
  padding-right: 5px;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background: linear-gradient(45deg, #f9c1c8, #f441a5, #d001d8, #f441a5, #f9c1c8);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.content-section {
  padding: 80px 0;
  justify-content: center;
  align-items: center;
}

.section-paragraph {
  display: block;
  text-align: center;
  padding: 30px 50px;
  color: #a9a9a9;
  font-size: 1.1rem;
}

.skill-item .rounded-circle {
  height: 0;
  background: #f2f3f5;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.skill-item .rounded-circle img {
  width: 50% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill-item p {
  margin-top: 7px;
  font-size: 0.7rem;
}

ul.experience-content {
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
}
ul.experience-content li {
  position: relative;
  padding-left: 60px;
  padding-bottom: 20px;
}
ul.experience-content li h5 {
  color: #f441a5;
  font-size: 1rem;
  margin-bottom: 0;
}
ul.experience-content li span {
  font-size: 0.75rem;
  font-style: italic;
  color: #a9a9a9;
}
ul.experience-content li time {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: 0.7rem;
  display: block;
  background: white;
  padding: 3px 5px;
}
ul.experience-content li time::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -12px;
  top: 5px;
  background: white;
  border-radius: 100%;
  border: 1px solid #a9a9a9;
}
ul.experience-content li::before {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: black;
  position: absolute;
  left: 0px;
  top: 5px;
}
ul.experience-content li:last-child::before {
  display: none;
}

.filter-portofolio {
  display: flex;
  justify-content: center;
}
.filter-portofolio ul {
  padding: 0px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-portofolio ul li.filter-item {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  color: #000;
  font-size: 0.75rem;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: 600;
  min-width: 50px;
  text-align: center;
}
.filter-portofolio ul li.filter-item:hover, .filter-portofolio ul li.filter-item.active {
  background: #f441a5;
  color: #fff;
}

.portofolio-item {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0px;
  min-height: 500px;
}
.portofolio-item .item {
  margin-bottom: 20px;
}
.portofolio-item .item img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
}
.portofolio-item .item .card-body {
  padding-top: 30px;
  position: relative;
}
.portofolio-item .item .card-body span.category-badge {
  position: absolute;
  top: -15px;
  background: white;
  padding: 5px 12px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #a9a9a9;
}
.portofolio-item .item .card-body .card-text {
  color: #a9a9a9;
}

.pict-team {
  position: relative;
  margin-bottom: 30px;
}
.pict-team img {
  max-height: 350px;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.pict-team .overlay-team {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-color: #101113;
}

.name-team h5 {
  padding-bottom: 1px;
}
.name-team p {
  color: #a9a9a9;
}

.desc-team {
  color: #a9a9a9;
}

section#block-call {
  background-color: #101113;
}
section#block-call .section-title {
  color: #f2f3f5;
  margin-bottom: 40px auto 20px !important;
}
section#block-call .btn.btn-da-outline {
  background-color: #93c01f;
  border: 2px solid #93c01f;
  color: #fff;
}
section#block-call .btn.btn-da-outline:hover, section#block-call .btn.btn-da-outline:focus {
  background-color: #101113;
  border-color: #93c01f;
  color: #93c01f;
  outline: none;
  box-shadow: none;
}

#block-testimoni {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/testi-bg.jpg");
  object-fit: cover;
  width: 100%;
}

div#carousel-testimonial {
  height: 30vh;
  display: block;
  align-items: center;
}
div#carousel-testimonial .carousel-inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-item .row.testimonial-list {
  margin: auto 10%;
}
.carousel-item .row.testimonial-list .col-md-12.testimonial-text {
  color: #fff;
  text-align: center;
}
.carousel-item .row.testimonial-list .col-md-12.testimonial-text .testimonial-profile {
  margin-top: 20px;
  color: #f2f3f5;
}
.carousel-item .row.testimonial-list .col-md-12.testimonial-text .testimonial-profile b {
  font-family: "Poppins";
  display: block;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 5px !important;
  height: 5px !important;
}

.row.message-wrapper {
  margin: auto 20%;
}

.message-item {
  height: 55px;
}
.message-item:last-child {
  height: 100px;
  margin-top: 10px;
}

input.message-text, textarea.message-text {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #a9a9a9;
  height: 55px;
  padding: 5px;
  font-size: 1rem;
  color: #101113;
  text-overflow: ellipsis;
  font-family: "Poppins";
}

textarea#your-message {
  height: 100px;
  resize: none;
}

.btn-send-msg {
  margin-top: 20px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.social-media2-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}
.social-media2-wrapper a.social-media2-item {
  width: 100px;
}
.social-media2-wrapper a.social-media2-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section#block-contact {
  background-color: #101113;
}

.row.row-contact {
  justify-content: center;
  margin: 25px 0px;
}
.row.row-contact .col-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.row.row-contact .col-contact i {
  color: #f2f3f5;
}
.row.row-contact .col-contact i.fa {
  margin-bottom: 10px;
}
.row.row-contact .col-contact small, .row.row-contact .col-contact b {
  color: #a9a9a9;
}
.row.row-contact .col-contact b {
  font-family: "Poppins";
  letter-spacing: 2px;
  color: #f2f3f5;
  font-size: 15px;
}
.row.row-contact a.social-media-item {
  padding: 0px 15px;
}
.row.row-contact a.social-media-item i {
  color: #fff;
}
.row.row-contact a.social-media-item i:hover {
  color: #93c01f;
}
.row.row-contact.copyright {
  color: #f2f3f5;
}