// color
$lime-green : #93c01f;
$black-da : #101113;
$purple : #d001d8;
$red : #f441a5;
$peach : #f9c1c8;

$linear-color : -webkit-linear-gradient(45deg, $purple, $red, $peach);
$linear-background : linear-gradient(45deg, $purple, $red, $peach);

$light-grey : #f2f3f5;
$dark-grey : #45505b;
$black : #000;
$white : #fff;
$grey : #a9a9a9;

$primary : $black-da;
$secondary : $red;
$col-light : $light-grey;


@media (min-width: 768px) and (max-width: 991.9px)  {
  .container {
    max-width: 620px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px){
  .container {
    max-width: 830px;
  }
}

@media (max-width: 767.9px) {
  // navbar toggle on mobile display
  .nav-toggler {
    display: flex;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 50;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: white;
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    .fa {
      font-size: 1.2rem;
      line-height: 1;
      transition: all 0.5s ease;
    }

    &.clicked {
      background: $red;
      .fa {
        color: $white;
        font-size: 1.3rem;
        &::before {
          content: "\f00d";
        }
      }
    }
  }
  #header {
      left: -75px;
      transition: left 0.5s ease-in-out;
    &.open-header {
      left: 0;
    }
  }
}

//styling for mobile display
@media (max-width: 767.9px) {
  .hero-image, .content-section {
    padding: 50px 0;
  }

  #hero .hero-text {
    text-align: center;
    padding-bottom: 20px;
    .hero-social-media {
      position: static;
      margin-top: 20px;
    }
    h1 {
      font-size : 3rem;
    }  
  }

  .section-title {
    font-size:1.8rem;
    padding-bottom: 15px;
    line-height: 1.2;
    margin-bottom: 30px;
    small {
      font-size: 1rem;
      margin-bottom: 8px;
    }
  }

  .portofolio-item .item .card-body .btn-gradient {
    display: block;
    width: 80%;
  }

  .carousel .carousel-item .carousel-caption {
    position: static;
    span {
      font-size: 0.8rem;
      color: $white;
    }
    p {
      height: 40px;
      overflow: hidden;
    }
  }

}

@media (max-width: 575.9px) {

  .carousel .carousel-item .carousel-caption {
    p {
      height: 60px;
    }
  }
  .footer-bottom-credit  {
    flex-flow: column-reverse;
    & > div {
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      justify-content: center!important;
    }
    .footer-social-media {
      margin-bottom: 20px;
    }
  }
}
