// color
$lime-green : #93c01f;
$black-da : #101113;
$purple : #d001d8;
$red : #f441a5;
$peach : #f9c1c8;

$linear-color : -webkit-linear-gradient(45deg, $purple, $red, $peach);
$linear-background : linear-gradient(45deg, $purple, $red, $peach);

$light-grey : #f2f3f5;
$dark-grey : #45505b;
$black : #000;
$white : #fff;
$grey : #a9a9a9;

$primary : $black-da;
$secondary : $red;
$col-light : $light-grey;


@media (min-width: 768px) and (max-width: 991.9px)  {
  .container {
    max-width: 620px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px){
  .container {
    max-width: 830px;
  }
}

@media (max-width: 986px) {
  .header-menu {
    justify-content: flex-start!important;
    &.navbar-collapse.collapse.show {
      border: 2px solid rgba($secondary,0.5);
      border-radius: 10px;
      padding: 5px;
      background-color: rgba($white,0.3);
    }
    &.collapsing {
      transition: height 1s ease!important;
    }
    .navbar-nav {
      width: 100%;
      .nav-item.header-menu-item.nav-link {
        padding : 5px 2px;
        &:not(:first-child) {
          border-top: .5px solid $white;
        }
      }
    }
  }
  .navbar-light {
    .navbar-toggler {
      background-color: rgba($white,0.3);
    }
  }
}

@media (max-width:992px) {
  .section-paragraph {
    font-size: 0.9rem;
  }

  .filter-item {
    font-size: 18px!important;
    letter-spacing: 0px!important;
  }

}

@media (max-width:767px) {
  #hero .hero-text h1 {
    font-size : 3.5rem;
  }

  .section-title {
    font-size:2.7rem;
  }

}
