// color
$lime-green : #93c01f;
$black-da : #101113;
$purple : #d001d8;
$red : #f441a5;
$peach : #f9c1c8;

$linear-color : -webkit-linear-gradient(45deg, $purple, $red, $peach);
$linear-background : linear-gradient(45deg, $purple, $red, $peach);

$light-grey : #f2f3f5;
$dark-grey : #45505b;
$black : #000;
$white : #fff;
$grey : #a9a9a9;

$primary : $black-da;
$secondary : $red;
$col-light : $light-grey;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
// font
@font-face {
    font-family: 'Big John';
    src: url('../fonts/BigJohn.woff2') format('woff2'),
        url('../fonts/BigJohn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Slim Joe';
    src: url('../fonts/SlimJoe.woff2') format('woff2'),
        url('../fonts/SlimJoe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}

$font-bold : 'Poppins';
$font-thin : 'Poppins';
$font-regular : 'Poppins';

// general styling
body {
  font-family: $font-regular, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
}

a:hover {
  color: $secondary!important;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-bold;
}

.bg-gradient {
  background: $linear-background;
}
.btn-gradient {
  background: $linear-background;
  border-color: transparent;
  color: $white;
  &:hover,&:focus {
    // opacity: 0.6;
    background: $white;
    color: $red;
    border-color: $red;
  }
}

.bg-peach {
  background-color: $peach;
  &.content-section {
    background-color: rgba($peach, .55);
  }
}
.color-pink {
  color: $red;
}

// start styling
#header {
  padding: 15px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-menu {
    padding: 0;
    display: block;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        a {
          color: $dark-grey;
          background-color: $light-grey;
          margin-bottom: 8px;
          width: 55px;
          height: 55px;
          border-radius: 55px;
          display: flex;
          align-items: center;
          transition: ease-in-out .2s;
          padding: 10px 18px;
          .fa {
            font-size: 17pt;
          }
        }
        span {
          display: none;
          padding: 0 5px 0 10px;
        }

        a.active, a:hover {
          background: $linear-background;
          color: $white!important;
        }
        a:hover {
          width: 130px;
          span {
            display: block;
          }
        }
      }
    }
  }
}

.header-logo {
  color: white!important;
}

nav.navbar.navbar-expand-lg.navbar-light {
   width: 100%!important;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .nav-item {
    &.header-menu-item{
      color: $white!important;
      font-family: $font-bold;
      font-size: 1rem;
      padding: 0px 15px;
      &:hover {
        color: $secondary!important;
      }
    }
  }
}

a {
  &.header-menu-item{
    color: $white;
  }
}

#hero {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  .hero-image {
    height: 100vh;
    background: $white;
    // background-image: linear-gradient(rgba(255, 255, 255,0.5), rgba(255, 255, 255, 0.5)), url('https://images.unsplash.com/photo-1455577380025-4321f1e1dca7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: cover;
  }
  .hero-text {
    text-align: left;
    padding-bottom: 6rem;
    color: $black;
    h1 {
      font-size: 4.5rem;
      margin-bottom: 20px;
      span {
      background: $linear-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
    }

    .hero-social-media {
      left: 0;
      bottom: 0;
      a {
        display: inline-block;
        padding: 2px 10px;
        font-size: 20px;
        color: $dark-grey;
        line-height: 1;

      }
    }
  }

  .hero-button {
    margin-top: 20px;
    a {
      border-radius: 5rem;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0.5rem 1rem;
    }
  }

  .scroll-down {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0px;
    left: 50%;
    a {
      background: $linear-background;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block;
      position: relative;
      animation: MoveUpDown 1s linear infinite;
      bottom: 0;
      &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $red;
        border-radius: 50px;
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
        transition: opacity .15s ease-in-out;
      }
    }
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}

// section
.section-title {
  margin-bottom: 40px;
  font-size: 2.3rem;
  font-family: $font-bold;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  font-weight: 500;
  small {
    display: block;
    font-size: 1.3rem;
    line-height: 1;
  }
  span {
    font-family: $font-thin;
    padding-right: 5px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    background: linear-gradient(45deg,#f9c1c8, #f441a5, #d001d8, #f441a5, #f9c1c8);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.content-section {
  padding: 80px 0;
  justify-content: center;
  align-items: center;
}

//section me
.section-paragraph {
  display: block;
  text-align: center;
  padding: 30px 50px;
  color: $grey;
  font-size: 1.1rem;
}

// section-skill and experience
.skill-item {
  .rounded-circle {
    height: 0;
    background: $light-grey;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    img {
      width: 50%!important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  p {
    margin-top: 7px;
    font-size: .7rem;
  }
}

ul.experience-content {
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
  li {
    position: relative;
    padding-left: 60px;
    padding-bottom: 20px;
    h5 {
      color: $red;
      font-size: 1rem;
      margin-bottom: 0;
    }
    span {
      font-size: 0.75rem;
      font-style: italic;
      color: $grey;
    }
    time {
      position: absolute;
      top: 0;
      left: 8px;
      font-size: .7rem;
      display: block;
      background: white;
      padding: 3px 5px;
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        left: -12px;
        top: 5px;
        background: white;
        border-radius: 100%;
        border: 1px solid $grey;
      }
    }

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background: $grey;
      position: absolute;
      left: 0px;
      top: 5px;
    }
    &:last-child::before {
      display: none;
    }
  }
}

// section portofolio
.filter-portofolio {
  display: flex;
  justify-content: center;
  ul {
    padding: 0px!important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li.filter-item {
      display:inline-block;
      list-style: none;
      padding : 5px 10px;
      color: $black;
      font-size: .75rem;
      background: $white;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 5px 10px;
      font-weight: 600;
      min-width: 50px;
      text-align: center;
      &:hover, &.active{
        background: $red;
        color: $white;
      }
    }
  }
}


.portofolio-item {
  position: relative;
  display: inline-block;
  width: 100%;
  margin:0px;
  min-height: 500px;
  .item {
    margin-bottom: 20px;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 250px;
    }

    .card-body {
      padding-top: 30px;
      position: relative;
      span.category-badge {
        position: absolute;
        top: -15px;
        background: white;
        padding: 5px 12px;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: $grey;
      }
      .card-text {
        color: $grey;
      }
    }
  }
}



// testimonial section
#block-testimoni {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/testi-bg.jpg');
  object-fit: cover;
  width: 100%;
}
div#carousel-testimonial {
  height: 30vh;
  display: block;
  align-items: center;
  .carousel-inner {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.carousel-item {
  .row.testimonial-list {
    margin: auto 10%;
    .col-md-12.testimonial-text {
      color: $white;
      text-align: center;
      .testimonial-profile {
        margin-top: 20px;
        color : $light-grey;
        b {
          font-family: $font-bold;
          display: block;
        }
      }
    }
  }
}

.carousel-indicators li {
  border-radius: 50%;
  width: 5px!important;
  height: 5px!important;
}

//socmed-2 
.social-media2-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  a {
    &.social-media2-item {
      width: 100px;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

//contact section
.row-contact{
  justify-content: center;
  margin: 0 0 20px;
  .col-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
      color: $black;
      padding: 10px 5px;
      border-radius: 10px;
      &:hover {
        background: $linear-background;
        color: $white!important;
      }
    }
    i {
      display: block;
      font-size: 1.5rem;
      line-height: 30px;
    }
    small {
      font-size: 10px;
    }
    b {
      font-family: $font-bold;
      font-size: 12px;
    }
  }
}

.contact-form {
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  .form-label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  input, textarea {
    font-size: 14px;
  }
}









